In [1]:
# searching information

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('employees.csv')
df.columns=[column.replace(' ','_') for column in df.columns]
df.query('Senior_Management==True and Gender=="Male" and Salary<43455 and Team=="Marketing"',inplace=True)
# and Gender=="Male" and Salary<43455 and Team=="Marketing"',inplace=True)
df

,First_Name,Gender,Start_Date,Last_Login_Time,Salary,Bonus_%,Senior_Management,Team
26,Craig,Male,2/27/2000,7:45 AM,37598,7.757,True,Marketing

In [4]:
query=input('enter')
name=input('enter')
df=pd.read_csv('employees.csv')
df.columns=[column.replace(' ','_') for column in df.columns]
df.query(f'{query}=="{name}"',inplace=True)
df

enter Gender
enter Male

,First_Name,Gender,Start_Date,Last_Login_Time,Salary,Bonus_%,Senior_Management,Team
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services
5,Dennis,Male,4/18/1987,1:35 AM,115163,10.125,False,Legal
...,...,...,...,...,...,...,...,...
994,George,Male,6/21/2013,5:47 PM,98874,4.479,True,Marketing
996,Phillip,Male,1/31/1984,6:30 AM,42392,19.675,False,Finance
997,Russell,Male,5/20/2013,12:39 PM,96914,1.421,False,Product
998,Larry,Male,4/20/2013,4:45 PM,60500,11.985,False,Business Development
999,Albert,Male,5/15/2012,6:24 PM,129949,10.169,True,Sales

In [5]:
with open('headsample.csv','w') as file:
   me=file.writelines('')
   print(me)

None

In [6]:
import pandas as pd
import csv as csv
header=['Full_name','Age','Nationality','Location','M_status','Phone']
with open('head_sample.csv.xlsx','w') as file:
    file_write=csv.DictWriter(file,delimiter=',', fieldnames=header)
    file_write.writeheader()
file_content=pd.read_csv('head_sample.csv.xlsx')
file_content

Empty DataFrame
Columns: [Full_name, Age, Nationality, Location, M_status, Phone]
Index: []

In [7]:
data={}

In [8]:
import csv
import pandas as pd







with open('personal_details.csv', 'w') as file:
    fieldnames = ['Name', 'Age', 'Email', 'Location', 'Nationality', 'Gender', 'Phone', 'M_Status', 'Salary']
    writer = csv.DictWriter(file, fieldnames=fieldnames)
    writer.writeheader()



def add_details():    
    while True:
        Name = input('Enter your full name:  ')
        age = input('Enter your age:  ')
        email = input('Type your email address:   ')
        while True:
            if email!=(f'{Name}@gmail.com'):
                break
                print('wrong')
        location = input('Type your location:  ')
        nationality = input('Enter your country of origin:  ')
        gender = input('Enter your gender:  ')
        phone = input('Enter your phone:  ')
        M_status = input('Enter your marital status:  ')
        salary = input('Enter your monthly salary:   ')
        
        # while True:
        #     if email!=(f'{Name}@gmail.com'):
        #         break
        #     else:
        #         print('wrong')
        #    if age!=age.isdigit():
        #        break
        #    if email!=(f'{Name}@gmail.com'):
        #        break
            # if Gender!=M or Gender!=F:
            #     break
            # else:
            #     print('wrong')
        #        break
        #    if salary<20000:
        #        break
           
                   
               


        data = {'Name': Name, 'Age': age, 'Email': email, 'Location': location, 'Nationality': nationality, 'Gender': gender, 'Phone': phone, 'M_Status': M_status, 'Salary': salary}

        with open('personal_details.csv', 'a') as file:
                  # ,newline='') as file:
            writer = csv.DictWriter(file, fieldnames=data)
            writer.writerow(data)
            answer=input('do you want to continue?:   ')
            if answer!='yes':
                print('thank you!')
                break
            else:
                continue
                print('\n==starting a new details===')

In [9]:
def view_details():
    df = pd.read_csv('personal_details.csv')
    print(df)

In [10]:
import pandas as pd
def filtering():
    column_name=input('enter what you want to filter:  ')
    value=input('enter the value of column')
    df=pd.read_csv('personal_details.csv')
    df.columns=[column.replace(' ','_') for column in df.columns]
    df.query(f"{column_name}=='{value}'",inplace=True)
    print(df)

In [11]:
def delete():
    column_name=input('enter what you want to delete:  ')
    df=pd.read_csv('personal_details.csv')
    df=df[df['Name'] != column_name]
    df.to_csv('personal_details.csv',index=False)
    print(f'you have deleted{column_name}')
    
    # value=input('enter the value of column')
    # df=pd.read_csv('personal_details.csv')
    # df.columns=[column.replace(' ','_') for column in df.columns]
    # df.drop(f"{column_name}=='{value}'",inplace=True)

In [12]:
def removing_duplicate():
    df=pd.read_csv('personal_details.csv')
    df=df.drop_duplicates(subset='Name',keep='first')
    df.to_csv('personal_details.csv',index=False)
    print('1st duplicate removed')

In [13]:
def menu():
    while True:
        print('\n====enter your option====')
        print('1.add personal details')
        print('2.view personal details')
        print('3.filter')
        print('4.delete')
        print('5.removing duplicate')
        print('6.exit')
        option=int(input('enter your option: '))
        # option!=option.isdigit()
        # break
           
        if option==1:
            add_details()
        elif option==2:
            view_details()
        elif option==3:
            filtering()
        elif option==4:
            delete()
        elif option==5:
            removing_duplicate()
        elif option==6:
            print('\n==thank you for your time==')
            break

In [14]:
menu()

====enter your option====
1.add personal details
2.view personal details
3.filter
4.delete
5.removing duplicate
6.exit

enter your option:  1
Enter your full name:   l
Enter your age:   12
Type your email address:    t
Type your location:   ll
Enter your country of origin:   l
Enter your gender:   t
Enter your phone:   o
Enter your marital status:   p
Enter your monthly salary:    0
do you want to continue?:    yes
Enter your full name:   k
Enter your age:   k
Type your email address:    k
Type your location:   k
Enter your country of origin:   k
Enter your gender:   k
Enter your phone:   k
Enter your marital status:   k
Enter your monthly salary:    k
do you want to continue?:    k

thank you!

====enter your option====
1.add personal details
2.view personal details
3.filter
4.delete
5.removing duplicate
6.exit

enter your option:  6

==thank you for your time==

In [ ]:
# import pandas as pd
# def filtering():
#     column_name=input('enter what you want to filter:  ')
#     value=input('enter the value of column')
#     df=pd.read_csv('personal_details.csv')
#     df.columns=[column.replace(' ','_') for column in df.columns]
#     df.query(f"{column_name}=='{value}'",inplace=True)
#     df